
html,
body {

		padding: 20pk;
		margin: 0;
		background: #F2EBD5;
		font-family: 'Open Sans', sans-ser;
		background-image: radial-gradient(circle at top, #F2EBD5 10%, #AC7D98);

}


 ul,
 ol {   

	    padding: 0;
		margin: 0px;
		list-style: none;
		text-align: center;

 }

 li {

 		font-weight: bold;

}

		

a {

		color: black; 
		text-decoration: none;
}
input {

	margin: 5px;
}

button {

	margin: 5px;
}

h1 {
		color: black;
		text-align: center;
		font-size: 30px;
		margin: auto;
		padding: 0;
}

h2 {
		color: black;
		text-align: center;
		font-size: 25px;
		margin: auto;
		padding: 0;
}

h3 {
		color: black;
		text-align: center;
		font-size: 20px;
		margin: auto;
		padding: 10px;
}

p,
span {
		color: black;
    	text-align: center;
		font-size: 15px;
		margin: 10px;
		padding: 10px;

}

label {
		font-weight: bold;
		text-align: center;
		margin-bottom: 20px;
}

.menu-1 {

		display: flex;
		align-items: center;
		border: double;
		margin: 0;
		padding: 0;
}

.menu-img img {

		display: inline-block;
		margin: 10px;
		border-radius: 20px;
		border: double;
		max-width: 200px;

}

.menu_btn {
	
		color: black;
		font-size: 18px;
		border: none;
		padding: 10px 20px;
		padding-left: 30px;
		background-image: url('../imagenes/menu.png');
		background-position: left center;
		background-repeat: no-repeat;
		background-color: transparent;
}

.menu-ul {

		display: none;
}

.baner {

		display: flex;
		justify-content: center;
}


.baner img {

		width: 80%;
		height:350px;
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 20px;
		border: double;			
}

.grid img {

		width: 60%;
		border-radius: 20px;
		border: double;
		
	}

.grid img:hover {

		transform: scale(1,);
		transition-duration: 2,5s;
		transform: translate(10px, 20px);
	}



.beneficios-img {

		display: flex;
		flex-direction: column;
		justify-content: center;	

}

.beneficio1 {

		text-align: center;

}

.beneficio2 {

		text-align: center;

}

.beneficio3 {

		text-align: center;

}

.form {

 		display: flex;
		flex-direction: column;
		align-items: center;
	
}

.footer > a {

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 5px;
		padding: 5px;
 	
}

.img-vello {

	display: flex;
	flex-direction: column;
	align-items: center;

}


.img-vello img {

		width: 80%;
		height:350px;
		border-radius: 20px;
		border: double;
}

.input {

		display: flex;
		flex-direction: column;
		justify-content: center;
}

.lista-preguntas a {

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 5px;
		padding: 5px;
}

.contacto {

		display: flex;
		flex-direction: column;
		justify-content: center;
}

.contacto-input {

		display: flex;
		justify-content: center;
}




@media (min-width: 767px) {

	.grid {

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 2fr 1fr;
		grid-row-gap: 20px;
		margin-right: 30px;
		margin-left: 30px;
		grid-template-areas: 'beneficio-a beneficio-b beneficio-c'
							 'inpu inpu inpu' 

	}

	.beneficio1 {

		grid-area: beneficio-a;
		text-align: center;
	}

	.beneficio2 {

		grid-area: beneficio-b;
		text-align: center;
	}

	.beneficio3 {

		grid-area: beneficio-c;
		text-align: center;	
	}

	.subcribite {

		grid-area: inpu;
		border: 1px solid black; 


	}

	.menu-ul {

		display: flex;
		justify-content: flex-end;
		column-gap: 50px;
	}

	.menu-ul ul {

		margin: 30px;
	}

	.menu-li {

		display: flex;
		justify-content: flex-end;
		column-gap: 40px;
	
	}

	.menu_btn {

		display: none;
	}

 				
}


























































/*.menu-nav {

	display: flex;
	justify-content: flex-end;
}


.icono-mail:hover {

		color: red
}

.icono-mail {

	 padding: 10px;
}


.menu-ul {

		display: flex;
}



.piedepagina {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 40px;

}
.form {

	display: flex;
	flex-direction: column;
	margin: auto;
}

*/
