
$colortex:black;


html,
body {

		padding: 20pk;
		margin: 0;
		background: #F2EBD5;
		font-family: 'Open Sans', sans-ser;
		background-image: radial-gradient(circle at top, #F2EBD5 10%, #AC7D98);
}

@mixin m-p($margin, $padding) {

	margin: $margin;
	padding: $padding

}

    ul,
    ol {   


    	@include m-p( 0px, 0px);
		list-style: none;
		text-align: center;
	}

    li {

 		font-weight: bold;
 		color: $colortex;
	}
	
	a {

		color:$colortex; 
		text-decoration: none;
	}

	input,
	button {

	margin: 15px;

	}

	h1 {

		font-weight: bold;
		@include m-p(auto, 0px);
		color:$colortex;
		text-align: center;
		font-size: 30px;
		margin: 10px;
	}

	h2 {

		font-weight: bold;
		@include m-p(auto, 0px);
		color:$colortex;
		text-align: center;
		font-size: 25px;
		margin: 10px;
	}

	h3,
	h4 {

		@include m-p(auto, 10px);
		color:$colortex;
		text-align: center;
		font-size: 25px;
	}

	p,
	span {
		color:$colortex;
    	text-align: center;
		font-size: 20px;
		@include m-p(10px, 10px)
	}

	label {
		font-weight: bold;
		color: $colortex;
		text-align: center;
		margin-bottom: 20px;
	}

.preguntas {

	font-weight: normal;
}



.menu-img {

	img {
		display: inline-block;
		margin: 10px;
		border-radius: 20px;
		border: double;
		max-width: 150px;
	}
}

.baner {

	    display: flex;
		justify-content: center;

	img {
		width: 80%;
		height:350px;
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 20px;
		border: double;		

	}
}

.grid {

	img {

		width: 60%;
		border-radius: 20px;
		border: double;

		&:hover {

			transform: scale(1,);
			transition-duration: 2,5s;
			transform: translate(10px, 20px);
		}
	}
}

.grid {

	.beneficio1,
	.beneficio2,
	.beneficio3 {

		text-align: center;
	}
}

.form {

	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {

	a {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 20px;
		padding: 5px;
	}
}


.img-vello {

	display: flex;
	flex-direction: column;
	align-items: center;

	 img {

		width: 80%;
		height:350px;
		border-radius: 20px;
		border: double;
	}

}

.input {

		display: flex;
		flex-direction: column;
		justify-content: center;
}

.lista-preguntas {

	a {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 5px;
		padding: 5px;

	}
}

.alineacion-input{


     display: flex;
     justify-content: center;

     .contacto{

     	.contacto-input{

     		display: flex;
     		justify-content: center;
     	}

     	.car3{

     		display:flex;
     		flex-direction: column;

     		label{

     			text-align: start;
     		}
     	}
     }
}


.icono-mail{

	font-size: 40px;
	margin: 20px

}

.respuestas{

	margin-top:40px;
	margin-botton: 40px;


	 	.h4{

		font-weight: bold;
	}
}



@media (min-width: 767px) {

	.grid {

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 2fr 1fr;
		grid-row-gap: 20px;
		margin-right: 30px;
		margin-left: 30px;
		grid-template-areas: 'beneficio-a beneficio-b beneficio-c'
							 'inpu inpu inpu'; 

	}

	.beneficio1 {

		grid-area: beneficio-a;
		text-align: center;
	}

	.beneficio2 {

		grid-area: beneficio-b;
		text-align: center;
	}

	.beneficio3 {

		grid-area: beneficio-c;
		text-align: center;	
	}

	.subcribite {

		grid-area: inpu;
		border: 1px solid $colortex; 


	}

	.menu-ul {

		display: flex;
		justify-content: flex-end;
		column-gap: 50px;

			ul {

			margin: 30px;
		}

	}

	.menu-li {

		display: flex;
		justify-content: flex-end;
		column-gap: 40px;
	
	}
 				
}
